canvas {
	 width:100%;
}

.canvas-container {
    position:relative;
    clear:both;
    border: 1px dashed #050;
    padding:1px;
	cursor:none;
}

#p1-shield-div {
    position:relative;
    margin-top:15px;
}

#p1-shield-div:after {
	color:#f00;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    height:100%;
    width:100%;
    text-align:center;
    /*animation:flashing 1s infinite;*/
}

#p1-shield-div.warning:after {
    content:"WARNING";
}

#p1-shield-div.destroyed:after {
	content:"SHIP DESTROYED";
}

@keyframes flashing {
    0% {opacity:0;}
    50% {opacity:1;}
    100% {opacity:0;}
}

#p1-shield {
    height:30px;
}

body {
	padding:20px 0;
    background-color: #010;
    font-family: 'Dosis', sans-serif;
    font-size:20px;
	color: #0B0;
}

.col-no-pad {
	padding:0;
}

#message-overlay {
    margin:auto;
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    height:200px;
    font-size:32px;
    text-align:center;
    padding:0 15px;
}
#p1-upgrades button > span {
    font-weight:bold;
    float:left;
}
#p1-upgrades button > span.price {
    float:right;
    min-width:30px;
    min-height:5px;
}

#level-select {
    text-align:center;    
}

#level-select > div {
    border: 1px dashed #0b0;
    height: 50px;
    width: 50px;
    margin: 5px;
    text-align: center;
    display: inline-block;
    padding-top:10px;
	cursor:pointer;
    background-color: #000700;
}

#level-select > div:hover,
#level-select > div.selected,
#p1-upgrades > button:hover,
#p1-upgrades > button.selected {
    animation:selected 2s infinite;
}

@keyframes selected {
    0% {background-color:#003000;}
    50% {background-color:#004000;}
    100% {background-color:#003000;}
}

#level-select > div.current {
    border-style: solid;
    font-weight: bold;
}

#p1-stats {
    margin: 15px 0;
}

button,select {
    margin: 5px 0;
    padding: 8px;
    color: #0B0;
    background-color: #000700;
    border: 2px outset #0b0;
    width:100%;
    text-align:center;
    position:relative;
}

button.disabled {
	color:#050;
	border-color:#070;
}

button > span.prog {
    position:absolute;
    bottom:-1px;
    left:0;
    height:1px;
    width:1%;
    background-color:#070;
}
button:active {
    border: 1px inset #0b0;
    margin: 6px;
}

button:focus {
    outline: 0;
}